html {
	scroll-behavior: smooth;
}
.footer-margin {
  margin-bottom: 20rem;
}

/* Sidebar Navigation */
.section-nav li.active > a {
  color: #1657AE;
  font-weight: 500;
}
.section-nav {
  top: 1.5em;
  width: 280px;
  margin-top: 2rem;
  padding-left: 0;
  border-left: 1px solid #efefef;
}
.section-nav a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: rgb(128, 128, 128);
  transition: all 100ms ease-in-out;
}
.section-nav a:hover,
.section-nav a:focus {
  color: #1657AE;
  font-weight: 500;
}
.section-nav ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section-nav li {
  margin-left: 1rem;
}


