<div
  class="d-flex flex-column sticky-top mt-3 border border-black-50"
  style=" top: 1.5em; width: 200px;"
>
  <span class="pl-2 pr-2 pb-1 pt-1 toc" >Course Information</span>
  <button class="toc" type="button" onclick="smoothScroll(document.getElementById('Other-Good-Stuff'))">mememem</button>
  <span class="pl-2 pr-2 pb-1 toc ">Course Logistics</span>
  <span class="pl-2 pr-2 pb-1 toc ">Course Materials</span>
  <span class="pl-2 pr-2 pb-1 toc ">Course Objectives</span>
  <span class="pl-2 pr-2 pb-1 toc ">Grading & Attendance</span>
  <span class="pl-2 pr-2 pb-1 toc ">Assignments & Topics</span>
  <span class="pl-2 pr-2 pb-1 toc ">Course Schedule</span>
  <span class="pl-2 pr-2 pb-1 toc ">Other Good Stuff</span>
</div>
