
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {{ $css := "css/bootstrap.min.css" | absURL }}
  <link rel="stylesheet" href="{{ $css }}">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/styles.css" media="screen" />

  <title>{{ .Title }}</title>
  <base href="{{ .Site.BaseURL }}">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="author" content='{{ .Site.Params.author }}'>

  {{ with .Site.Params.favicon }}
      <link rel="icon" type="image/ico" href="{{ . | absURL }}">
  {{ end }}
</head>